---

---

<header class="relative flex flex-col">
  <!-- Logo -->
  <div class="relative z-10 px-4 sm:px-8 lg:px-16 xl:px-[165px] py-8">
    <h1
      class="font-display text-xl md:text-2xl lg:text-3xl xl:text-4xl font-black text-slate-900"
    >
      <a href="/">Sparq</a>
    </h1>
  </div>
</header>
